# See http://help.github.com/ignore-files/ for more about ignoring files.
#

# Ignore bundler config
/.bundle



# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.bundle
log/*.log
log/*.log.*
tmp/**/*
*.rbc
*~
*#*
lib/tesla
db/
public/uploads
.DS_Store
public/stylesheets/*.css
public/javascripts/compiled
public/assets
log/
solr/data

